@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --roulette-scale: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-family: sans-serif;
  height: 100%;
}
.arrow-base {
  position: absolute;
  width: 0;
  height: 0;
  top: 42%;
  border-radius: 50%;
  border: 50px solid gold;
  z-index: 30;
}
.arrow {
  width: 0;
  height: 0;
  border-left: 49px solid transparent;
  border-right: 49px solid transparent;
  border-bottom: 70px solid gold;
  position: absolute;
  top: 37%;
  z-index: 50;
}
.roulette-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.roulette {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: white;
  outline: 40px solid rgb(216 19 0);
  margin: 40px;
  position: relative;
}
.fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  -webkit-clip-path: polygon(0% 0%, 50% 50%, 0% 50%, 0% 0%);
  clip-path: polygon(0% 0%, 50% 50%, 0% 50%, 0% 0%);
}
.fill_1 {
  background: #061e39;
}
.fill_2 {
  transform: rotate(45deg);
  background: #02a492;
}
.fill_3 {
  transform: rotate(90deg);
  background: #ffa800;
}
.fill_4 {
  transform: rotate(135deg);
  background: #ff5b27;
}
.fill_5 {
  transform: rotate(180deg);
  background: #061e39;
}
.fill_6 {
  transform: rotate(225deg);
  background: #02a492;
}
.fill_7 {
  transform: rotate(270deg);
  background: #ffa800;
}
.fill_8 {
  transform: rotate(315deg);
  background: #ff5b27;
}
.content {
  font-size: 3rem;
  font-weight: bold;
  width: 260px;
  height: 260px;
  position: absolute;
  top: 20%;
  left: 10%;
  text-align: center;
  transform: rotate(-67deg);
  color: white;
}
.content-text {
  transform: rotate(-90deg) translateX(-10%);
}
.line {
  width: 600px;
  height: 3px;
  background: black;
  position: absolute;
  top: 300px;
  left: 0;
}
.line_1 {
  transform: rotate(45deg);
}
.line_2 {
  transform: rotate(90deg);
}
.line_3 {
  transform: rotate(135deg);
}
.line_4 {
  transform: rotate(180deg);
}
.trigger {
  margin-top: 20px;
  font-size: 30px;
  border-radius: 15px;
  padding: 10px 20px;
  border: 3px solid black;
  cursor: pointer;
}
